header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: fixed; 
}

header .top {
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    position: relative;
}

header .pageName {
    display: flex;
    margin-left: 50px;
    
}

h1 {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 153, 255);
}

.connectButton {
    display: flex;
    margin-right: 50px;
    width: 200px;
    height: 40px;
}